@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Catamaran:wght@300&family=Rubik&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Catamaran:wght@300&family=Kalam&family=Rubik&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Cabin&family=Catamaran:wght@300&family=Kalam&family=Rubik&family=Supermercado+One&display=swap');

#groupphoto
{
    padding-left: 250px;
    position: absolute;
    top: -40px;
    cursor: pointer;
}

#h1
{
    font-size: 55px;
    font-family: Kalam;
    position: absolute;
    top: 80px;
    left: 800px;
}

#descri
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 250px;
    font-size: 30px;
    font-family: Catamaran;
    position: absolute;
    text-align: center;
}